<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="margin-bottom: 10px; width:33%;">
    <%= form.label :task, style: "display: inline-block; font-weight:bold;" %>:
    <%= form.text_field :task, class:"form-control" %>
  </div>

  <div style="margin-bottom: 10px;">
    <%= form.label :details, style: "display: inline-block; font-weight:bold" %>:
    <%= form.text_area :details, class:"form-control", style:"height: 6em;" %>
  </div>

  <div style="width:33%;">
    <%= form.label :finish_by, style: "display: inline-block; font-weight:bold" %>:
    <%= form.datetime_field :finish_by, class:"form-control"%>
  </div>

  <div style="margin-top:10px">
    <%= form.submit class:"btn btn-outline-dark" %>
  </div>
<% end %>
