<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="margin-bottom: 10px">
    <%= form.label :task, style: "display: block; font-weight:bold; display:inline" %>:
    <%= form.text_field :task, class:"form-control" %>
  </div>

  <div style="margin-bottom: 10px">
    <%= form.label :finish_by, style: "display: block; font-weight:bold; display:inline" %>:
    <%= form.datetime_field :finish_by, class:"form-control" %>
  </div>

  <div>
    <%= form.label :description, style: "display: block; font-weight:bold; display:inline" %>:
    <%= form.text_field :description, class:"form-control" %>
  </div>

  <div style="margin-top:10px">
    <%= form.submit class:"btn btn-outline-success btn-small" %>
  </div>
<% end %>
