<div id="<%= dom_id task %>">

  <h3><strong>Task: </strong><%= task.task %></h3>

    <% if task.details != "" %>
    <strong style="display:inline">Details:</strong>
    <%= simple_format(task.details) %>
    <% else %>
    <% end %>

    <p style="font-size: 14px; display:inline">Finish by
    <% # task.finish_by.strftime("%A, %b %d, %Y at %l:%M %p") %>
    <strong><%= task.finish_by %></strong></p>


    <!-- <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Details</th>
      <th scope="col">Finish By</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= task.task %></td>
      <td><%= simple_format(task.details) %></td>
      <td><%= task.finish_by %></td>
  </tbody>
</table>
</div> -->
