<p style="color: green"><%= notice %></p>

<h1 style="display:inline">Task List
<div style="float:right"><%= link_to "Create Task", new_task_path, class:"btn btn-outline-dark" %></div></h1>
<hr>


<div id="tasks" style="margin-top: 20px; margin-bottom: 200px">
  <% if !@tasks.exists? %>
  <p>There are no current tasks.</p>

  <% else %>
  <% @tasks.each do |task| %>
  <div class="alert alert-dark">
    <%= render task %>
    <hr>

    <%= link_to "View", task_path(task), class:"btn btn-outline-primary btn-sm" %>
   <%= link_to "Edit", edit_task_path(task), class:"btn btn-outline-secondary btn-sm" %>
<%= button_to 'Delete', task, method: :delete, form: {style: 'display:inline;'}, class: "btn btn-outline-danger btn-sm" %>

    </div>
<% end %>
  <% end %>
</div>
